
$default_color:'#2a8ada';
$default_color_h:'#1c7ac9';
// color
$bg_body:#f4f4f4;

// 顶部导航条
$navbar-default_bg: #28a19c;
$navbar-default_border:#358e8b;
// size


// login
$login_html_bg:#2c3338;
$login_ff : 'Helvetica Neue', Arial, Sans-Serif;
$login_wrap_bg:#ecf0f1;
$login_wrap_h2_cl:#34495e;
